<!DOCTYPE html>
<html lang="ko">

<head>
    <title>한돈대학</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="desc">
    <meta property="og:type" content="website">
    <meta property="og:title" content="title">
    <meta property="og:description" content="deesc">
    <meta property="og:url" content="url">
    <link rel="canonical" href="https://url">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/xpressengine/xeicon@2.3.1/xeicon.min.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./css/slick.css" media="all" />
    <link rel="stylesheet" type="text/css" href="./css/common_pc.css" media="all" />
    <style>
        #target_youtube_view {
            width: 100%;
            height: 100%;
        }
    </style>
</head>

<body>
    <div class="wrap main ">
        <!-- 레이어팝업 제어 클래스 popup_open -->
        <!-- GNB -->
        <div class="common_gnb_w">
            <!-- lnbtype_main / sticky / 모바일:gnb_open -->

            <div class="common_lnb_w">
                <h1 class="gnb_big_logo">
                    <a href="./cert.html" class="gnb_logo"><img src="./imgs/pc/logo.png" alt="한돈대학 한돈소믈리에"></a>
                </h1>
                <div class="common_lnb_inner">
                    <ul class="common_lnb_list">
                        <li class="slnb_inner gnb_on">
                            <a href="javascript: void(0);" class="slnb_link">
                                <span class="slnb_txt_box">
                                <span class="slnb_txt">
                                    한돈 소믈리에 자격증
                                </span>
                                </span>
                            </a>
                        </li>
                        <li class="slnb_inner">
                            <!-- 활성화 효과 : gnb_on-->
                            <a href="./registration.html" class="slnb_link">
                                <span class="slnb_txt_box">
                                <span class="slnb_txt">
                                    수강신청
                                </span>
                                </span>
                            </a>
                        </li>
                        <li class="slnb_inner">
                            <!-- 활성화 효과 : gnb_on-->
                            <a href="./mypage.html" class="slnb_link">
                                <span class="slnb_txt_box">
                                <span class="slnb_txt">
                                    마이페이지
                                </span>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="gnb_quick_w">
                    <a href="javascript: void(0);" class="sns_share_btn" id="snsShareBtn">
                        <img src="./imgs/pc/sns_share.png" alt="공유링크">
                    </a>
                </div>
            </div>
        </div>

        <!-- 콘텐츠 -->
        <div class="container">
            <!-- 콘텐츠01 -->
            <div id="section_01" class="section_01_w" style="background-image:url('./imgs/pc/s01_bg.jpg');">
                <div class="section_inner">
                    <div class="section_cont">
                        <div class="s01_text_w">
                            <span class="s01_text">
                            한돈대학<br/>
                            한돈 소믈리에 자격증
                        </span>
                            <div class="s01_motion_text" data-aos="fade-up" data-aos-duration="3000">
                                증명하라!<br/> 당신의 고기부심
                            </div>
                        </div>
                        <div class="s01_image_w">
                            <img src="./imgs/pc/s01_pig.png" alt="" class="s01_img">
                            <span class="s01_light_top"><img src="./imgs/pc/light_top.png" alt=""></span>
                            <span class="s01_light_bottom"><img src="./imgs/pc/light_btm.png" alt=""></span>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn_scroll_down">
                <span class="btn_icon_down"><img src="./imgs/pc/scroll_btn.png" alt="scoll down"></span>
            </button>
            </div>

            <!-- 콘텐츠02 -->
            <div id="section_02" class="section_02_w" style="background-image:url('./imgs/pc/s02_bg.jpg'); display:none;">
                <div class="section_inner">
                    <div class="section_cont">
                        <div class="section_left">
                            <div class="s02_motion_text" data-aos="fade-up" data-aos-duration="3000">
                                <img src="./imgs/pc/s02_title.png" alt="한돈 소믈리에 자격증 사전 수강 신청만 해도 선물이 펑펑!">
                            </div>
                            <div class="s02_image_w">
                                <img src="./imgs/pc/s02_left_img.png" alt="">
                                <div class="blind">
                                    사전 수강 신청을 한 신청자분들 중 추첨을 통해 스타벅스 기프티콘(500명) 지급 스타벅스 아메리카노 (500명) 이벤트 기간 9/27~10/17 당첨자발표 : 당첨자 개별 공지 지금바로 사전 수강!
                                </div>
                            </div>
                        </div>
                        <div class="section_right">
                            <div class="s02_form_w">
                                <img src="./imgs/pc/s02_right_img.jpg" alt="사전 수강 신청서">
                                <div class="form_input_w">
                                    <span class="form_group">
                                    <label class="input_label">성함</label>
                                    <span class="input_box"><input type="text" /></span>
                                    </span>
                                    <span class="form_group phoneNumber">
                                    <label class="input_label">연락처</label>
                                    <span class="input_box">
                                        <input type="text" />
                                        <span class="input_dash">-</span>
                                    <input type="text" />
                                    <span class="input_dash">-</span>
                                    <input type="text" />
                                    </span>
                                    </span>
                                    <span class="form_agree">
                                    <input type="checkbox" id="formAgree" class="ip_checkbox">
                                    <label for="formAgree" class="input_label">개인정보 수집, 이용 및 SMS 수신에 동의합니다.</label>
                                </span>
                                    <button type="button" class="btn_form_send">사전 수강 신청하기</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 콘텐츠03 -->
            <div id="section_03" class="section_03_w">
                <div class="section_inner">
                    <div class="section_cont">
                        <div class="section_left">
                            <div class="s03_title">
                                도전하라!<br/> 당신의 고기부심!
                            </div>
                        </div>
                        <div class="section_right">
                            <div class="s0301_motion_text" data-aos="fade-up" data-aos-duration="3000">
                                한돈 소믈리에 자격증에<br/> 도전해야 하는 7가지 이유
                            </div>
                            <div class="s0302_motion_text" data-aos="fade-up" data-aos-duration="3500">
                                <ul>
                                    <li><span class="number">1</span>당신의 고기부심은 한낱 허세가 아니었음을 증명할 수 있다. </li>
                                    <li><span class="number">2</span>돈(豚)과 명예를 가진 상위 0.1% 한돈전문가가 될 수 있다. </li>
                                    <li><span class="number">3</span>불판위의 권력자! 고기 집게 독점권으로 한돈지식 TMI 대방출이 가능하다.</li>
                                    <li><span class="number">4</span>남들의 시선을 즐겨라, 당신의 한돈부심을 SNS에 마음껏 알릴 수 있다.</li>
                                    <li><span class="number">5</span>숙련된 손놀림, 철저한 각도조절과 완벽한 타이밍으로 고기를 뒤집는 순간!<br/>상대방은 이미 당신에게 폴인럽…. 매력포텐 뿜뿌의 지름길!</li>
                                    <li><span class="number">6</span>1등급은 바로 너! 사장님이 꽁꽁 숨겨놓은 고퀄리티 한돈도 놓치지 않고 획득할 수 있다.</li>
                                    <li><span class="number">7</span>고기를 태워도 마이야르라고 이야기 할 수 있는 용서권을 얻는다.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 콘텐츠04 -->
            <div id="section_04" class="section_04_w">
                <div class="section_inner">
                    <div class="section_cont">
                        <strong class="s04_title">
                        전설의 시작, 한돈소믈리에
                        <span class="s04_tit_sub">한돈능력자</span>
                    </strong>
                        <div class="s04_player_w">
                            <iframe id="target_youtube_view" src="https://www.youtube.com/embed/ZdqpjiX36g0?rel=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 콘텐츠05 -->
            <div id="section_05" class="section_05_w" style="background-image:url('./imgs/pc/s05_bg.jpg');">
                <div class="section_inner">
                    <div class="section_cont">
                        <div class="s05_text">
                            <strong class="s05_title_w">
                            <span class="s05_title_sub">지금부터 - 당신의 고기부심 체크!</span>
                            한돈소믈리에 자격과정
                        </strong>
                            <div class="s05_text_w">
                                <strong>밥상위의 국가대표 우리 돼지 한돈</strong> 돼지고기를 먹고 요리하는 즐거움을 느낄 수 있도록 전문 교육강사가 기초상식부터 요리까지 높은 퀄리티의 강의를 제공합니다.<br/> 한돈소믈리에 교육 과정에서 여러분은 취향에 맞는 좋은 돼지고기와 고기부위를 고르는 법부터 각 부위별 영양분을 알고<br/> 맞춤형 레시피를 만드는 방법을 배울수 있습니다.
                            </div>
                        </div>
                        <div class="s05_step_w">
                            <div class="s05_step_cont" data-aos="fade-up" data-aos-duration="3000">
                                <strong class="step_title">내 취향저격!</strong>
                                <div class="step_image"><img src="./imgs/pc/s05_step1.png" alt="좋은 돼지고기 고르는 법"></div>
                            </div>
                            <div class="s05_step_cont" data-aos="fade-up" data-aos-duration="3200">
                                <strong class="step_title">건강까지 챙기는</strong>
                                <div class="step_image"><img src="./imgs/pc/s05_step2.png" alt="부위별 맛과 영양분"></div>
                            </div>
                            <div class="s05_step_cont" data-aos="fade-up" data-aos-duration="3400">
                                <strong class="step_title">어떤부위든 자유자재!</strong>
                                <div class="step_image"><img src="./imgs/pc/s05_step3.png" alt="특별한 레시피 만드는 법"></div>
                            </div>
                        </div>
                        <div class="s05_step_date">
                            2021. 10. 25 (월) 온라인 클래스 OPEN!
                        </div>
                    </div>
                </div>
            </div>

            <!-- 콘텐츠07 -->
            <div id="section_07" class="section_07_w">
                <div class="section_inner">
                    <div class="section_cont">
                        <div class="s07_text">
                            <strong class="s_title_w">
                            <span class="s_title_sub">단 3회 온라인 강의수강으로 이제부터 나도 한돈소믈리에!</span>
                            한돈소믈리에 자격증
                        </strong>
                            <div class="s_text_w">
                                <strong>전문 강사진과 함께하는 영상강의<br/>핵심만 쏙쏙골라보는 최종시험 </strong>
                            </div>
                            <div class="event_test_btn_w">
                                <a href="#none" class="event_test_link">
                                    <div class="event_test_inner">
                                        <span class="event_test_text">한돈소믈리에<br/>영상 교육 과정 3회</span>
                                        <span class="event_test_icon"><img src="./imgs/pc/s07_test1.png" alt="영상교육 아이콘"></span>
                                    </div>
                                </a>
                                <a href="#none" class="event_test_link">
                                    <div class="event_test_inner">
                                        <span class="event_test_text">한돈소믈리에<br/>최종시험(60점 이상)</span>
                                        <span class="event_test_icon"><img src="./imgs/pc/s07_test2.png" alt="최종시험 아이콘"></span>
                                    </div>
                                </a>
                                <div class="s07_image_w">
                                    <img src="./imgs/pc/s07_img.png" alt="한돈 상품 이미지">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 콘텐츠08 -->
            <div id="section_08" class="section_08_w" style="background-image:url('./imgs/pc/s08_bg.png');">
                <!--<span class="s08_bg"><img src="./imgs/pc/s08_bg.png" alt=""></span>-->
                <div class="section_inner">
                    <div class="s08_text">
                        <strong class="s_title_w">
                        <span class="s_title_sub">한돈산업의 건전한 발전</span>
                        한돈자조금관리위원회
                    </strong>
                        <div class="s08_text_w">
                            <strong>본회는 한돈산업의 건전한 발전과 한돈인의 사회, 경제적 지위향상에 기여함을 목적으로 한다.</strong>
                        </div>
                    </div>
                    <div class="section_cont">
                        <div class="s08_list_box">
                            <img src="./imgs/pc/s08_commit_img.jpg" alt="한돈자조금관리위원회">
                            <ul class="commit_list_w">
                                <li>소비촉진 홍보 및 판로 확대</li>
                                <li>계도교육 및 정보제공</li>
                                <li>조사와 연구</li>
                                <li>정책개발 및 제도개선</li>
                                <li>자율적 수급안정 유통구조 개선</li>
                                <li>신제품 개발 수출 활성화</li>
                            </ul>
                        </div>
                        <div class="s08_list_box s08_table_w">
                            <div class="table_scroll">
                                <table cellpadding="0" cellspacing="0" border="0" class="history_table">
                                    <colgroup>
                                        <col width="13%">
                                        <col width="15%">
                                        <col width="">
                                    </colgroup>
                                    <tbody>
                                        <tr class="table_row">
                                            <td colspan="3">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td rowspan="2" class="year">2019</td>
                                            <td class="month">11.12</td>
                                            <td class="">제 2차 대의원회 (9대 의장 장성훈, 10대 위원장 하태식)</td>
                                        </tr>
                                        <tr>
                                            <td class="month">09.17</td>
                                            <td class="last">제 5기 대의원선거 (79개 선출구, 150명 전원 무투표당선)</td>
                                        </tr>
                                        <!--2017-1207 연혁추가-->
                                        <tr class="table_row">
                                            <td colspan="3">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td class="year">2017</td>
                                            <td class="month">11.16</td>
                                            <td class="last">제 2차 대의원회 (8대 의장 배상종, 9대 위원장 하태식)</td>
                                        </tr>
                                        <tr class="table_row">
                                            <td colspan="3">&nbsp;</td>
                                        </tr>
                                        <tr class="table_row">
                                            <td rowspan="3" class="year">2015</td>
                                            <td class="month">11.12</td>
                                            <td>제 2차 대의원회 (7대 의장 하태식, 8대 위원장 이병규)</td>
                                        </tr>
                                        <tr>
                                            <td class="month">09.30</td>
                                            <td>제 4기 대의원선거 (83개 선출구, 150명 전원 무투표당선)</td>
                                        </tr>
                                        <tr>
                                            <td class="last month">01.01</td>
                                            <td>한돈자조금 1,100원 거출 개시</td>
                                        </tr>
                                        <!--2017-1207 연혁추가종료-->
                                        <tr class="table_row">
                                            <td colspan="3">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td class="year">2014</td>
                                            <td class="month">10.01</td>
                                            <td class="last">제 1회 한돈데이 개최</td>
                                        </tr>
                                        <tr class="table_row">
                                            <td colspan="3">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td class="year">2013</td>
                                            <td class="month">11.14</td>
                                            <td class="last">제 2차 한돈자조금 대의원회 (7대 위원장 이병규 선출)</td>
                                        </tr>
                                        <tr class="table_row">
                                            <td colspan="3">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td rowspan="3" class="year">2011</td>
                                            <td class="month">07.01</td>
                                            <td>종돈 *AI 한돈자조금 동참 (한국종돈업 경영인회, 한국돼지 유전자협회)</td>
                                        </tr>
                                        <tr>
                                            <td class="month">04.27</td>
                                            <td>한돈자조금 명칭 변경 (양돈자조금 → 한돈자조금)</td>
                                        </tr>
                                        <tr>
                                            <td class="last month">01.01</td>
                                            <td>양돈자조금 800원 거출 개시</td>
                                        </tr>
                                        <tr class="table_row">
                                            <td colspan="3">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td rowspan="2" class="year">2010</td>
                                            <td class="month">07.01</td>
                                            <td>웰빙포크닷컴을 &lt;한돈닷컴&gt;으로 개편</td>
                                        </tr>
                                        <tr>
                                            <td class="last month">03.11</td>
                                            <td>제 1차 양돈자조금 관리위원회 개최 (5대 위원장 이병모)</td>
                                        </tr>
                                        <tr class="table_row">
                                            <td colspan="3">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td rowspan="2" class="year">2009</td>
                                            <td class="month">11.26</td>
                                            <td>제 2기 양돈자조금 대의원회 개최 (4대 의장 정종극)</td>
                                        </tr>
                                        <tr>
                                            <td class="last month">11.05</td>
                                            <td>제 8차 양돈자조금 관리위원회 개최 (4대 위원장 김동환)</td>
                                        </tr>
                                        <tr class="table_row">
                                            <td colspan="3">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td class="year">2008</td>
                                            <td class="month">01.01</td>
                                            <td class="last">양돈자조금 600원 거출 개시</td>
                                        </tr>
                                        <tr class="table_row">
                                            <td colspan="3">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td rowspan="3" class="year">2007</td>
                                            <td class="month">11.20</td>
                                            <td>제 2기 임시 양돈자조금 관리위원회 (3대 위원장 윤상익 선출)</td>
                                        </tr>
                                        <tr>
                                            <td class="month">11.12</td>
                                            <td>제 2기 양돈자조금 대의원회 개최 (2기 대의원회 의장 이병모)</td>
                                        </tr>
                                        <tr>
                                            <td class="last month">10.17</td>
                                            <td>제 2기 양돈자조금 대의원 선거</td>
                                        </tr>
                                        <tr class="table_row">
                                            <td colspan="3">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td class="year">2006</td>
                                            <td class="month">02.28</td>
                                            <td class="last">2006년 제 1차 양돈자조금 관리위원회 개최 (2대 위원장 김건태 선출)</td>
                                        </tr>
                                        <tr class="table_row">
                                            <td colspan="3">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td class="year">2005</td>
                                            <td class="month">08.01</td>
                                            <td class="last">소비자 대상 인터넷 홈페이지 개설 (www.wellbeingpork.com)</td>
                                        </tr>
                                        <tr class="table_row">
                                            <td colspan="3">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td class="year" rowspan="6">2004</td>
                                            <td class="month">10.01</td>
                                            <td>돼지고기 소비 촉진 TV &amp; 라디오 광고 방영 개시</td>
                                        </tr>
                                        <tr>
                                            <td class="month">06.01</td>
                                            <td>양돈자조금 인터넷 홈페이지 개설 (www.porkboard.or.kr)</td>
                                        </tr>
                                        <tr>
                                            <td class="month">04.01</td>
                                            <td>양돈자조금 활동자금 징수 개시</td>
                                        </tr>
                                        <tr>
                                            <td class="month">03.29</td>
                                            <td>양돈자조금 활동자금 관리사무국 설치 (서초구 양재동)</td>
                                        </tr>
                                        <tr>
                                            <td class="month">03.04</td>
                                            <td>제 3차 양돈자조금 관리위원회 개최 (초대 위원장 최영열)</td>
                                        </tr>
                                        <tr>
                                            <td class="month">02.06</td>
                                            <td class="last">양돈자조금 활동자금 징수 위탁 (전국 도축장)</td>
                                        </tr>
                                        <tr class="table_row">
                                            <td colspan="3">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td rowspan="3" class="year">2003</td>
                                            <td class="month">12.19</td>
                                            <td>양돈자조금 창립대의원회 개최</td>
                                        </tr>
                                        <tr>
                                            <td class="month">11.12 - 11.13</td>
                                            <td>양돈자조금 활동자금 대의원 선거 실시</td>
                                        </tr>
                                        <tr>
                                            <td class="last month">05.27</td>
                                            <td>제 1차 양돈자조금 설치 공동준비위원회 개최</td>
                                        </tr>
                                        <tr class="table_row">
                                            <td colspan="3">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td rowspan="2" class="year">2002</td>
                                            <td class="month">05.13</td>
                                            <td>&lt;축산물의 소비촉진 등에 관한 법률&gt; 공포</td>
                                        </tr>
                                        <tr>
                                            <td class="month">01.30</td>
                                            <td class="last">축산업자조금법 입법을 위한 공청회 개최</td>
                                        </tr>
                                        <tr class="table_row">
                                            <td colspan="3">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td class="year">2001</td>
                                            <td class="month">11.16</td>
                                            <td class="last">축산업자조금 재정에 관한 공청회 개최</td>
                                        </tr>
                                        <tr class="table_row">
                                            <td colspan="3">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td rowspan="3" class="year">2000</td>
                                            <td rowspan="3" class="month">08.14</td>
                                            <td>축산업자조금법 재정에 관한 청원 국회제출</td>
                                        </tr>
                                        <tr>
                                            <td>- 김영진, 주진우 의원 외 22인 소개로 제출</td>
                                        </tr>
                                        <tr>
                                            <td class="last">- 한우 &amp; 낙농육우 &amp; 양돈 &amp; 양계협회 공동 명의</td>
                                        </tr>
                                        <tr class="table_row">
                                            <td colspan="3">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td class="year">1999</td>
                                            <td class="month">11.10</td>
                                            <td class="last">&lt;축산자조금법 입법 청원서&gt; 국회제출</td>
                                        </tr>
                                        <tr class="table_row">
                                            <td colspan="3">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td rowspan="2" class="year">1998</td>
                                            <td rowspan="2" class="month">06.16</td>
                                            <td>4개 단체 &lt;의무자조금 제도의 법제화&gt; 건의 (농림부)</td>
                                        </tr>
                                        <tr>
                                            <td class="last">- 양돈협회 &amp; 낙농육우협회 &amp; 양계협회 &amp; 축협중앙회</td>
                                        </tr>
                                        <tr class="table_row">
                                            <td colspan="3">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td class="year">1992</td>
                                            <td class="month">09.09</td>
                                            <td class="last">임의 양돈자조금 사업 시행</td>
                                        </tr>
                                        <tr class="table_row">
                                            <td colspan="3">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td class="year">1985</td>
                                            <td class="month">05.31 - 06.16</td>
                                            <td class="last">미국 축산자조금제도 시찰단 파견 (대한양돈협회)</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 콘텐츠09 -->
            <div id="section_09" class="section_09_w" style="background-image:url('./imgs/pc/s09_bg.jpg');">
                <div class="section_inner">
                    <div class="section_cont">
                        <div class="s09_text">
                            <strong class="s_title_w">
                            <span class="s_title_sub">수강하면 매주 선물 이벤트가 쏟아진다!</span>
                            한돈소믈리에 자격증 교육과정
                        </strong>
                        </div>
                        <div class="s09_list_w">
                            <div class="s09_list_box">

                                <div class="s09_list_text">
                                    <strong>1주차</strong>
                                    <span>
                                    - 삼성 갤럭시 버즈 프로<br/>
                                    - 대한민국 돼지이야기 책
                                </span>
                                </div>
                                <div class="s09_list_text">
                                    <strong>2주차</strong>
                                    <span>
                                    - 삼성 갤럭시 워치<br/>
                                    - 삼성 갤럭시 버즈 프로
                                </span>
                                </div>
                                <div class="s09_list_text">
                                    <strong>3주차</strong>
                                    <span>
                                    - 삼성 갤럭시 탭<br/>
                                    - 삼성 갤럭시 버즈 프로
                                </span>
                                </div>
                                <div class="s09_list_text">
                                    <strong>4주차</strong>
                                    <span>
                                    - LG그램 15인치<br/>
                                    - 삼성 갤럭시 버즈 프로
                                </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 콘텐츠10 -->
            <div class="section_10_w" style="background-image:url('./imgs/pc/s10_bg.jpg');">
                <div class="section_inner">
                    <div class="s10_bg_img">
                        <img src="./imgs/pc/s10_frame.png" alt="">
                    </div>
                    <div class="s10_oath_w">
                        <div class="s10_oath_inner">
                            <strong class="s10_title_w">
                            한돈소믈리에의 마음 자세
                        </strong>
                            <div class="oath_text_w">
                                <ul class="oath_list">
                                    <li><span>1.</span> 한돈에 대한 사랑처럼 진실된 사랑은 없다.</li>
                                    <li><span>2.</span> 고기는 남의 돈으로 먹을 때가 제맛이다.</li>
                                    <li><span>3.</span> 12시간 전에 먹은 고기는 하루가 지났기 때문에 살이 안 찐다.</li>
                                    <li><span>4.</span> 커피에 설탕, 휘핑크림 올려서 살 찌느니 한돈먹고 살 찌겠다.</li>
                                    <li><span>5.</span> 체하면 삼겹살, 이별의 아픔에는 항정살</li>
                                    <li><span>6.</span> 한돈의 향과 맛을 유지하기 위해 최소 두시간뒤에 양치를 한다.</li>
                                    <li><span>7.</span> 고기와 밀가루를 멀리하면 오래 살 수 있지만 그렇다면 무엇을 위해 사는가?</li>
                                    <li><span>8.</span> 등심, 목살 나눌 시간에 하나라도 더먹자</li>
                                    <li><span>9.</span> 대가없는 소고기는 없다. 선심은 돼지고기까지다.</li>
                                    <li><span>10.</span> 칼로리는 열량이 아닌 맛을 뜻하는 단위다.</li>
                                </ul>
                                <strong class="oath_text">
                                이상 한돈에 진심인 한돈소믈리에의 마음 자세였습니다.
                            </strong>
                                <div class="oath_to">
                                    * 위 명언들은 여러 연예인분들과 위인분들의 음식에 대한 조예깊은 명언을 참고하였으며<br/> 그 귀한 입맛에 깊은 존경을 보내는 바입니다.
                                </div>
                                <span class="form_agree">
                                <input type="checkbox" id="oathAgree" class="ip_checkbox">
                                <label for="oathAgree" class="input_label">개인(신청자)은 한돈에 진심임을 동의합니다.</label>
                            </span>
                            </div>
                        </div>
                        <button type="button" class="btn_study_enter" title="수강신청">
                            <img src="./imgs/pc/s10_btn_study.png" alt="2021 한돈소믈리에 수강신청">
                        </button>
                    </div>
                </div>
            </div>

            <!-- 이벤트 레이어팝업 -->
            <div class="layer_popup_w event_popup">
                <div class="layer_popup_box">
                    <div class="layer_popup_inner">
                        <div class="event_popup_inner">
                            <strong class="layer_popup_title">한돈소믈리에 자격 과정</strong>
                            <div class="event_popup_cont">
                                <div class="event_popup_text_w">
                                    <p class="evp_text01">
                                        <span class="evp_img"><img src="" alt="강의이미지"></span>
                                        <strong>
                                        한돈소믈리에가 되기 위한 시작!<br/>
                                        당신의 고기부심! 이제는 마음껏 펼치세요!
                                    </strong> 한돈소믈리에 과정을 통해 한돈에 대한 기본 지식과 다양한 조리법을 쉽고 재미있게 습득할 수 있습니다.<br/> 고기집게의 권력자가 되길 원한다면? 지금 바로 수강해보세요!
                                    </p>
                                </div>
                                <div class="event_study_w">
                                    <div class="study_list_w">
                                        <div class="study_list_cont study_on">
                                            <a href="#none" class="study_link">
                                                <span class="study_label">영상 1회차</span>
                                                <strong class="study_title">우리돼지, 한돈을 아시나요?</strong>
                                                <span class="study_time">01:20:10</span>
                                            </a>
                                        </div>
                                        <div class="study_list_cont">
                                            <a href="#none" class="study_link">
                                                <span class="study_label">영상 2회차</span>
                                                <strong class="study_title">한돈학개론</strong>
                                                <span class="study_time">01:20:10</span>
                                            </a>
                                        </div>
                                        <div class="study_list_cont">
                                            <a href="#none" class="study_link">
                                                <span class="study_label">영상 3회차</span>
                                                <strong class="study_title">나는 한돈소믈리에입니다.</strong>
                                                <span class="study_time">01:20:10</span>
                                            </a>
                                        </div>
                                        <a href="#none" class="module_btn_red">마이페이지</a>
                                    </div>
                                    <div class="study_form_w">
                                        <div class="study_form_bg">
                                            <img src="./imgs/pc/s10_form_bg.png" alt="">
                                        </div>
                                        <div class="study_form_inner">

                                            <div class="study_form_input">
                                                <strong class="form_study_title">
                                                <span>2021 한돈소믈리에 자격 과정</span>
                                                수강 신청서
                                            </strong>
                                                <div class="form_input_w">
                                                    <span class="form_group">
                                                    <label class="input_label">성 함</label>
                                                    <span class="input_box"><input type="text"></span>
                                                    </span>
                                                    <span class="form_group phoneNumber">
                                                    <label class="input_label">연락처</label>
                                                    <span class="input_box">
                                                        <input type="text">
                                                        <span class="input_dash">-</span>
                                                    <input type="text">
                                                    <span class="input_dash">-</span>
                                                    <input type="text">
                                                    </span>
                                                    </span>
                                                </div>
                                            </div>
                                            <span class="form_agree">
                                            <input type="checkbox" id="studyAgree" class="ip_checkbox">
                                            <label for="studyAgree" class="input_label">개인정보 수집, 이용 및 SMS 수신에 동의합니다.</label>
                                            <button type="button" class="btn_form_send">수강 신청</button>
                                        </span>

                                        </div>
                                    </div>
                                    <button type="button" class="popup_btn_x" title="팝업 닫기">
                                    <i class="xi-close-thin xi-2x"><i class="ir">close</i></i>
                                </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <i class="dim"></i>
            </div>


        </div>



    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="./vendor/slick-1.6.0/slick-1.6.0.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript" src="./js/common.js"></script>
</body>

</html>