@charset "utf-8";

@font-face {
    font-family: 'NotoSerifKR';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/NotoSansKR-Regular.otf');
}

@font-face {
    font-family: 'NotoSerifKR';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/NotoSansKR-Medium.otf');
}

@font-face {
    font-family: 'NotoSerifKR';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/NotoSansKR-Bold.otf');
}

@font-face {
    font-family: '한돈';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/한돈삼겹살체300g_OTF.otf');
}

@font-face {
    font-family: '한돈';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/한돈삼겹살체600g_OTF.otf');
}

/* RESET */
html {scroll-behavior: smooth;}
html,body{-webkit-text-size-adjust:none; color:#000; font-weight:400; line-height: 1.4; letter-spacing: -0.01em; overflow:auto;}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select,img,div {margin:0; padding:0;}
body {position:relative; min-width:1422px; font-family:'NotoSerifKR', 'Noto Sans', 'malgun gothic' , '맑은 고딕' , sans-serif; }
img,fieldset{border:0}
img {display:inline-block; max-width:100%;}
button {background:none; border:0; cursor:pointer;}
ul,ol{list-style:none}
input,select{vertical-align:middle; background:#fff;}
em,address,i{font-style:normal}
table{border-collapse:collapse; border-spacing:0px; empty-cells:show; table-layout:fixed}
legend,caption{visibility:hidden; width:0; height:0; margin:0; padding:0; font-size:0; line-height:0;}
a {text-decoration:none;color:#000;}
a:hover,a:focus {text-decoration:none;}
input,button,select {outline:none; border-radius:0;}


/* common */
.blind{position:absolute !important; width:1px; height:1px; overflow:hidden; clip:rect(1px 1px 1px 1px); clip:rect(1px, 1px, 1px, 1px);}
.ir {zoom:-10; z-index:-1; position:relative; display:block; width:100%; font-size:0px; text-align:center; white-space:nowrap; overflow:hidden;}
.icn {position:absolute; display:block; .display:inline; .zoom:1;  font:0/0 arial; vertical-align:middle; overflow:hidden; background-repeat:no-repeat; background-color:transparent; background-image:url('../imgs/pc/set_icon_pc.png'); background-size:50px auto;}
.wrap {background-color:#fff;}

/* GNB */
.common_gnb_w {position:fixed; left:0; top:0; z-index:4; width:100%; height:101px; background-color:#05121a;}
.common_gnb_w:after {display:block; content:''; width:100%; height:1px; position:absolute; left:0; bottom:0; background-color:#9f9f9f;}
.common_lnb_w {position:relative; padding-left:258px; max-width:1422px; margin:0 auto; box-sizing:border-box;}
.gnb_big_logo {position:absolute; left:0; top:0; z-index:2;}
.gnb_logo {}
.common_lnb_inner {overflow:hidden;}
.common_lnb_list {display:flex; float:left; width:100%; max-width:700px; margin:0 auto; justify-content:space-between;}
.slnb_inner {width:100%; box-sizing:border-box; text-align:center;}
.slnb_link {display:block; position:Relative; padding:0 30px; height:100px; line-height:100px; font-size:20px; color:#fff;}
.slnb_link:hover,
.gnb_on .slnb_link {color:#e2be76; }
.slnb_link:after {position:absolute; top:50%; left:50%; right:50%; bottom:0; width:0; border-bottom:5px solid #005688; content:''; -webkit-transition:all 0.3s; -moz-transition:all 0.3s; -o-transition:all 0.3s; -ms-transition:all 0.3s; transition:all 0.3s;}
.gnb_on .slnb_link:after,
.slnb_inner:hover .slnb_link:after{left:30px; right:30px; width:auto; transition:all 0.3s;}


.slnb_txt_box {}
.gnb_quick_w {position:Absolute; right:40px; top:0; height:100%;}
.sns_share_btn {display:block; position:relative; top:18px;}


/* 푸터 */
.footer {padding:25px 0; background-color:#000; color:#dcc696; font-size:12px;}
.footer_inner {max-width:1422px; margin:0 auto; text-align:center;}
.footer_text_list {}
.footer_text_list .ftl_cont {position:relative; padding:0 12px 0 13px;}
.footer_text_list .ftl_cont:after {display:block; content:''; position:absolute; left:0; top:3px; width:1px; height:12px; background-color:#dcc696; }
.footer_text_list .ftl_cont:first-child:after {display:none;}
[class^="footer_text_list"]{}
.footer_text_list2 {margin-top:5px; color:#fff;}
.footer_text_list2 .ftl_cont {display:block; margin-top:20px;}
.footer_text_list2 .ftl_cont:first-child {margin-top:0;}


[class^="section_0"] {display:table; width:100%; padding-top:101px; height:100vh; overflow:hidden; box-sizing:border-box; position:relative; background-size:cover; background-position:center top; background-repeat:no-repeat;}
.section_inner {display:table-cell; vertical-align:middle; height:100%;}
.section_cont {width:1422px; margin:0 auto; position:relative; z-index:3;}
.section_01_w {background-color:#0a242d;}
.s01_text_w {position:absolute; left:170px; top:50%; margin-top:-192px; z-index:2;}
.s01_text {display:block; font-size:30px; line-height:40px; font-weight:700; color:#e2be76;}
.s01_motion_text {display:block; margin-top:85px; line-height:110px; font-size:90px; color:#e8e7e7; font-weight:bold; text-shadow: 2px 2px 6px #000;}
.s01_image_w {display:block; position:Absolute; right:87px; top:50%; margin-top:-363px;}
[class^="s01_light_"]{position:absolute; -webkit-animation:rotation 2s infinite linear;}
.s01_light_top {left:0; top:52px;}
.s01_light_bottom {right:60px; bottom:60px;}
@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}
.btn_scroll_down {display:block; position:fixed; left:50%; bottom:0; z-index:4; margin-left:-52px; width:105px; height:65px; padding-bottom:19px; box-sizing:border-box; }
.btn_icon_down {display:block; animation:Mouse_act 1.3s ease-out infinite;}
@-webkit-keyframes Mouse_act {
    0% {
        -webkit-transform:translateY(-40px);
        transform:translateY(-40px);
        opacity: 1;
    }
    100% {
        -webkit-transform:translateY(0);
        transform:translateY(0);
        opacity: 0;
    }
}
.section_02_w {background-color:#671b19;}
.section_02_w .section_inner {overflow:hidden;}
.section_left {float:left; padding-top:30px; width:762px;}
.s02_image_w {display:block; margin-top:70px;}
.section_right {position:relative; float:left; width:546px;}
.form_input_w {position:absolute; left:0; top:315px; padding:0 88px 0 75px; width:100%; box-sizing:border-box; text-align:center;}
.form_group {display:block; position:Relative; padding-left:67px; margin-top:8px; height:41px; line-height:41px;}
.input_label {display:block; position:Absolute; left:0; top:0; font-size:20px; color:#212121; }
.input_box{display:block; width:100%; height:41px; overflow:hidden;}
.input_box input {display:block; padding:0 10px; width:100%; height:100%; border:1px solid #d7dad8; background-color:#fff; box-sizing:border-box; text-align:left;}
.phoneNumber input {width:95px; float:left;}
.input_dash {float:left; width:14px; text-align:center; color:#212121;}
.form_agree {display:inline-block; margin-top:32px; height:31px; line-height:31px; position:relative; padding-left:40px;}
.ip_checkbox {display:block; position:absolute; left:0; top:0; width:31px; height:31px; opacity:0;}
.form_agree .input_label:After {display:block; content:''; position:absolute; left:0; top:0; z-index:3; width:31px; height:31px; background-image:url('../imgs/pc/bg_checkbox.jpg'); background-position:0 0; background-size:31px auto;}
.form_agree .ip_checkbox:checked+.input_label:after{background-position:0 -31px;}
.form_agree .input_label {position:static; font-size:14px; color:#212121; cursor:pointer;}
.btn_form_send {display:block; margin:53px auto 0; width:209px; height:58px; line-height:58px; font-size:16px; background-color:#a61e1c; color:#fff;}
.btn_form_send:hover {background-color:#000;}

.section_03_w {background-color:#181717;}
.section_03_w .section_inner {z-index:3;}
.section_03_w:before {display:block; content:''; min-width:1920px; width:100%; height:100%; position:absolute; left:50%; bottom:0; margin-left:-960px;  z-index:2; background-image:url('../imgs/pc/s03_bg.jpg'); background-repeat:no-repeat; background-size:1920px auto; background-position:left bottom;}
.s03_title {font-size:70px; line-height:80px; color:#fff; text-shadow:2px 2px 6px #000; font-weight:700;}
.section_03_w .section_left {padding-top:525px; width:700px; }
.section_03_w .section_right {padding-top:165px; width:722px;}
.s0301_motion_text {font-size:50px; line-height:64px; color:#e3c172; font-weight:600; font-family:'한돈';}/* 한돈폰트 */
.s0302_motion_text {padding-top:42px; font-size:18px; color:#e8e7e7;}
.s0302_motion_text li {position:relative; padding-left:45px; margin-top:19px; line-height:24px; min-height:30px;}
.s0302_motion_text .number {display:inline-block; position:absolute; left:0; top:0; width:30px; height:30px; line-height:29px; text-align:center; color:#000; font-size:18px; font-weight:700; border-radius:100%; background-color:#e2be76;}


.section_04_w {background-color:#171616; text-align:center;}
.s04_title {display:block; color:#fff; font-size:34px; font-family:'한돈'; font-weight:600; }/* 한돈폰트 */
.s04_tit_sub {display:block; color:#e3c272;}
.s04_player_w {margin:30px auto 0; width:1025px; height:552px; position:relative; background-color:#000; border:1px solid #b6c1bf;}
.icon_play {display:block; width:140px; height:140px; position:Absolute; left:50%; top:50%; margin:-70px 0 0 -70px; }


.section_05_w {background-color:#0a3245; color:#fff; text-align:center; }
.s05_title_w {display:block; font-size:60px;}
.s05_title_sub {display:block; font-size:34px; color:#e3c272; font-family:'한돈';}/* 한돈폰트 */
.s05_text_w {margin-top:35px; font-size:14px; color:#e1e1e0;}
.s05_text_w strong {display:block; font-style:italic; margin-bottom:8px; font-size:18px; color:#fff;}
.s05_step_w {overflow:hidden; margin-top:30px;}
.s05_step_cont {float:left; width:33.3%;}
.step_title {display:block; font-size:26px; color:#e3c272;font-family:'한돈'; }/* 한돈폰트 */
.step_image {display:block; margin-top:10px;}
.s05_step_date {display:block; margin-top:10px; font-size:30px; color:#e8e7e7; font-weight:700;}


.section_06_w {padding:101px 0 125px; background-color:#1a1a1a; text-align:center;}
.s06_title {display:inline-block; padding-top:105px;}
.s06_sub_text {display:block; font-size:24px; color:#d4d4d5; text-align:center;}
.main .footer {position:Absolute; left:0; bottom:0; width:100%;}




/* 메인 */
.container {}


/* 서브페이지 공통 레이아웃 */
.txt_red {color:#9a1a18; font-weight:700 !important;}
.sub_section_w {overflow:hidden; width:1422px; margin:0 auto; box-sizing:border-box; padding:245px 0 185px 16px;}
[class^="sub_article_"]{float:left;}
.sub_article_l {width:220px; padding:45px 0 29px 20px; box-sizing:border-box; background-color:#000;}
    .member_info_w {padding-left:11px; overflow:hidden; color:#fff;}
    .mi_text {display:block; margin-bottom:12px; font-size:16px;}
    .mi_name {float:left; font-size:30px; color:#e2be76;}
    .mi_text2 {float:left; position:relative; top:12px; padding-left:7px; font-size:20px;}
    /* 마이페지이 메뉴 */
    .mypage_menu_w {margin-top:60px;}
    .mp_menu_list {}
    .mpml_inner {position:relative;}
    .mpml_cont {display:block; position:relative; z-index:2; height:50px; line-height:48px; padding-left:14px; color:#fff; font-size:16px;}
    /* 마이페이지 메뉴 활성화 */
    .mymenu_current {}
    .mymenu_current .mpml_cont {font-weight:700;}
    .mymenu_current:after,
    .mpml_inner:hover:after {display:block; content:''; position:absolute; right:-11px; top:0; z-index:1; width:210px; height:50px; line-height:48px; background-color:#9a1a18;}
    .mypage_btn_logout {display:block; margin:70px 0 0 15px; height:50px; line-height:48px; overflow:hidden; font-size:16px; color:#999;}
    .mp_btn_text {display:block; padding-left:30px; position:relative;}
    .icon_logout {display:block; position:Absolute; left:0; top:50%; margin-top:-9px; width:14px; height:15px; background-position:-25px 0;}
.sub_article_r {margin-left:142px; width:960px;}
    .banner_type_row2 {overflow:hidden; margin-bottom:70px; width:calc(100% + 40px);}
    .banner_type_row2 .bnr_inner {float:left; width:50%; padding-right:40px; box-sizing:border-box;}
    .bnr_cont {display:block; position:relative; padding:30px 250px 45px 30px; height:180px; box-sizing:border-box; color:#333; background-color:#faefda;}
    .bnr_inner:nth-child(2) .bnr_cont {background-color:#ebd8d1;}
    .bnr_title {display:block; display:block; font-size:20px;}
    .bnr_text {display:block; margin-top:30px; font-size:16px;}
    .bnr_cont img {display:block; position:Absolute; right:0; top:0; width:250px; height:180px;}
    .license_step_w {}
    .license_title {margin-bottom:45px; height:35px; line-height:30px; font-size:32px;}
    .license_title strong {font-weight:700;}
    .license_title span {font-weight:400;}
    .license_step_inner {}
    .license_step_box {display:block; position:relative; margin-top:40px; padding:40px 40px 90px 300px; width:960px; height:220px; box-sizing:border-box;}
    .license_step_box:first-child {margin-top:0;}
    .license_step_box:after {display:block; content:''; position:absolute; left:0; top:0; width:100%; height:100%; border:1px solid #eee; box-sizing:border-box;}
    .step_box_img {position:absolute; left:0; top:0; height:220px;}
    .step_box_text {}
    .sbox_title {display:block; font-size:24px; color:#333;}
    .sbox_date_w {margin-top:20px; font-size:16px; color:#666;}
    .sbox_date_title {display:inline-block; font-weight:700;}
    .sbox_date_num {display:inline-block; margin-left:12px; font-weight:400;}
    .step_box_label {position:absolute; right:40px; top:40px; font-size:16px; color:#9a1a18; font-weight:700;}
    .step_box_btn {display:block; position:Absolute; right:40px; bottom:40px; width:200px; height:50px; line-height:48px; text-align:center; border:1px solid #9a1a18; box-sizing:border-box; font-size:18px; font-weight:700; color:#9a1a18;}
    /* hover 효과 */
    .license_step_box:hover .step_box_btn {background-color:#9a1a18; color:#fff;}
    .license_step_box:hover:after {border:2px solid #9a1a18;}

    .open_ready {dispaly:block;}
    .open_ready_box {display:table; position:absolute; left:0; top:0; text-align:center; width:100%; height:100%; background-color:rgba(0,0,0,.4); color:#fff; font-size:32px; font-weight:700;}
    .open_ready_text {display:table-cell; vertical-align:middle; height:100%;}
    .open_ready:hover .step_box_btn {background:none; color:#9a1a18;}

/* 공통 : 레이어팝업 */
.popup_open .layer_popup_w {display:block;}
.layer_popup_w {display:none; position:fixed; left:0; top:0; width:100vw; height:100vh; z-index:99;}
.layer_popup_box {width:100%; height:100%; display:flex; align-items:center; justify-content:flex-end; z-index:3;}
.layer_popup_inner {display:table; table-layout:fixed; margin:0 auto; position:relative; vertical-align:middle;}
.layer_popup_cont {margin:0 auto; position:relative; z-index:3; display:table-cell; background-color:#fff; border:1px solid #9a1a18; width:500px; height:300px; vertical-align:middle; text-align:center;}
.layer_popup_title {display:block; font-size:32px; color:#9a1a18;}
.player_popup_text {margin-top:45px; font-size:20px;}
.popup_btn_x {position:absolute; right:0; top:0; display:block; width:64px; height:64px;}
.icon_close_x {left:50%; top:50%; z-index:9; margin:-11px 0 0 -11px; width:22px; height:22px; background-position:0 0;}
.dim {display:block; position:fixed; left:0; top:0; z-index:2; width:100%; height:100%; background-color:rgba(0,0,0,.4);}

.popupType2 .layer_popup_cont {width:1000px; height:708px; box-sizing:border-box;}
.popupType2 .layer_popup_title {display:block; text-align:left; font-size:20px; color:#666; font-weight:700;}
.popup_arrow_w {position:Absolute; left:0; top:0; width:100%;}
[class^="btn_arrow_"] {position:Absolute; top:89px; border:1px solid #9a1a18; width:130px; height:40px; line-height:38px; font-size:16px; color:#9a1a18;}
.btn_arrow_l {left:49px;}
.btn_arrow_r {right:49px;}
.vod_title {display:block; margin-top:25px; height:40px; line-height:40px; font-size:24px; color:#333; font-weight:700;}
.vod_player_w {position:relative; margin-top:30px; width:902px; height:507px; border:1px solid #9f9f9f; box-sizing:border-box; background-color:#333;}
.vod_player_w iframe {width:100% !important; height:100% !important;}
.icon_vod_play {position:absolute; left:50%; top:50%; margin:-35px 0 0 -25px; width:50px; height:70px; background-position:0 -25px;}
.popupType2 .layer_popup_cont {padding:35px 49px 48px;}

/* 서브 0401 : 자격증신청하기 */
.license_card_w .license_title {margin-bottom:35px;}
.license_card_inner {padding-bottom:40px; border:4px solid #333; border-width:4px 0;}
.license_card_form_w {position:relative; padding:60px 0 0 445px; min-height:350px; color:#333;}
.license_card_form_w img {display:block; width:410px; position:Absolute; left:0; top:0;}
.license_input_w {}
.license_input_row {position:relative; margin-top:20px; padding-left:90px; box-sizing:border-box;}
.license_input_row label {font-size:18px; position:Absolute; left:0; top:0; padding-right:8px; font-weight:700;}
.essential{display:block; position:absolute; right:0; top:0; width:6px; height:6px; border-radius:100%; background-color:#9a1a18;}
.ip_name {margin-top:0;}
.ip_phone {}
.ip_address01 {padding-right:160px;}
.ip_address02 {}
.ip_address03 {}
.license_input {display:block; padding:0 5px; width:100%; box-sizing:border-box; height:40px; line-height:40px; border:0; border-bottom:1px solid #666;}
.license_input:focus {border-bottom:2px solid #9a1a18;}
.license_input::placeholder {font-size:16px; color:#999;}
.input_btn {}
.bg_black {display:block; position:Absolute; right:0; top:0; min-width:140px; height:40px; line-height:36px; font-weight:700; color:#fff; background-color:#333;}
.module_btn_red {margin:50px auto 0; display:block; min-width:252px; height:60px; line-height:60px; border:2px solid #9a1a18; color:#9a1a18; font-weight:700; font-size:18px; box-sizing:border-box; padding:0 60px;}
.module_btn_red:hover {color:#fff; background-color:#9a1a18;}
.license_message_w {}
.license_message_w textarea {margin-top:20px; resize:none; width:100%; height:200px; box-sizing:border-box; border:1px solid #e5e5e5; padding:18px 22px; font-size:16px; color:#999;}
.license_add_w {overflow:hidden; padding-bottom:30px; border-bottom:1px solid #e5e5e5; margin-top:28px; position:relative; padding-left:95px;}
.license_add_w .sub_stitle {padding-right:8px; position:Absolute; left:0; top:0;}
.sub_stitle {display:block; float:left; font-size:18px;}
.addfile_info {float:left; }
.addfile_info_text{display:block; font-size:14px; color:#999;}
.addfile_upload {float:right; position:relative; padding-right:140px; width:420px; height:40px; background-color:#e6e6e6; box-sizing:border-box;}
.addfile_name {display:block; font-size:14px; height:40px; line-height:36px; width:100%; padding:0 10px; box-sizing:border-box;}
.user_agree_w {}
.user_agree_w .form_agree {height:24px; line-height:22px;}
.user_agree_w .form_agree .input_label {color:#333;}
.user_agree_w .form_agree .input_label:After {width:24px; height:24px;}
.user_agree_w .form_agree .input_label:After {background-size:24px auto; background-image:url('../imgs/pc/bg_checkbox2.jpg');}
.user_agree_w .form_agree .ip_checkbox:checked+.input_label:after {background-position:0 -24px;}
.user_agree_w .input_label {display:inline-block;}
.agree_detail {margin-left:13px; position:relative; display:inline-block; font-size:14px; color:#999;}
.agree_detail:after {display:block; content:''; width:100%; height:1px; position:Absolute; left:0; bottom:2px; background-color:#999;}
.delivery_info {display:block; margin-top:10px; padding-left:40px; text-align:left; font-size:14px; color:#9a1a18; font-weight:400;}

.license_view_w {}
.license_view_inner {position:relative;}
.license_view_name {display:block; position:Absolute; left:375px; top:215px; font-size:68px;}
.license_view_inner img {display:block; width:100%;}




/*  --------------- 태블릿 제어  --------------- */
@media screen and (max-width:1080px) {

}

/* --------------- end:태블릿 제어  --------------- */

/*  --------------- 모바일 제어  --------------- */
@media screen and (max-width:750px) {

}
/*  --------------- end:모바일 제어  --------------- */



