<!DOCTYPE html>
<html lang="ko">

<head>
    <title>한돈대학</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="desc">
    <meta property="og:type" content="website">
    <meta property="og:title" content="title">
    <meta property="og:description" content="deesc">
    <meta property="og:url" content="url">
    <link rel="canonical" href="https://url">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/xpressengine/xeicon@2.3.1/xeicon.min.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css">
    <link rel="stylesheet" href="https://vjs.zencdn.net/7.10.2/video-js.css" />
    <link rel="stylesheet" href="https://unpkg.com/@silvermine/videojs-quality-selector/dist/css/quality-selector.css">
    <link rel="stylesheet" type="text/css" href="./css/slick.css" media="all" />
    <link rel="stylesheet" type="text/css" href="./css/common_m.css" media="all" />
    <style>
        #lecture-popup .video-js {
            width: 100% !important;
            height: 100% !important;
        }
        
        #lecture-popup .vjs-big-play-button {
            text-align: center;
        }
        
        .icon_vod_play {
            display: none;
        }
        
        .player_popup_text.text-2 {
            display: none;
        }
    </style>
</head>

<body>
    <div class="wrap" id="main-wrap">
        <!-- GNB -->
        <div class="common_gnb_w" id="main-menu-wrap">
            <!-- gnb_open-->
            <h1 class="gnb_big_logo">
                <a href="./index.php" class="gnb_logo"><img src="./imgs/m/logo.png" alt="한돈대학 한돈소믈리에"></a>
            </h1>
            <div class="common_lnb_w mypage_lnb">
                <button class="lnb_btn" id="btn-navi-menu-open">
                    <span class="gnb_hambug"><i class="blind">메뉴오픈</i></span>
                </button>
                <div class="common_lnb_inner">
                    <ul class="common_lnb_list">
                        <li class="slnb_inner">
                            <a href="./index.php#section_10" class="slnb_link">
                                <span class="slnb_txt_box">
                                    <span class="slnb_txt">
                                        수강신청
                                    </span>
                                </span>
                            </a>
                        </li>
                        <li class="slnb_inner">
                            <a href="./index.php#section_05" class="slnb_link">
                                <span class="slnb_txt_box">
                                    <span class="slnb_txt">
                                        한돈 소믈리에 자격증
                                    </span>
                                </span>
                            </a>
                        </li>
                        <li class="slnb_inner gnb_on">
                            <a href="javascript: void(0);" class="slnb_link">
                                <span class="slnb_txt_box">
                                    <span class="slnb_txt">
                                        마이페이지
                                    </span>
                                </span>
                            </a>
                            <ul class="slnb_sub_list">
                                <li class="ssl_inner">
                                    <a href="./mypage.php" class="ssl_cont">마이페이지</a>
                                </li>
                                <li class="ssl_inner">
                                    <a href="javascript: void(0);" class="ssl_cont">내 강의 보기</a>
                                </li>
                                <li class="ssl_inner">
                                    <a href="javascript: void(0);" class="ssl_cont">내 시험보기</a>
                                </li>
                                <li class="ssl_inner">
                                    <a href="javascript: void(0);" class="ssl_cont">자격증 발급 신청/조회</a>
                                </li>
                                <li class="ssl_inner">
                                    <a href="https://www.han-don.com/bbs/index.php?board=announce" class="ssl_cont" target="_blank">공지사항</a>
                                </li>
                                <li class="ssl_inner">
                                    <a href="https://www.han-don.com/member/mypage.php?mode=info&tabst=handon" class="ssl_cont">회원 정보 수정</a>
                                </li>
                                <li class="ssl_inner">
                                    <a href="https://www.han-don.com/bbs/index.php?board=inquiry" class="ssl_cont" target="_blank">문의 게시판</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <button type="button" class="mypage_btn_logout" onclick="logout()">
                        <span class="mp_btn_text">
                            <i class="xi-log-out">
                                <span class="blind">로그아웃 아이콘</span>
                            </i>
                            로그아웃
                        </span>
                    </button>
                    <button type="button" class="lnb_btn_close" id="btn-navi-menu-close">
                        <i class="xi-close"><span class="blind">메뉴닫기</span></i>
                    </button>
                </div>
            </div>
            <div class="gnb_quick_w">
                <a href="./mypage.php" class="member_my_btn">
                    <span class="icon_cont">
                        My
                    </span>
                </a>
                <a href="javascript: void(0);" class="sns_share_btn" id="snsShareBtn">
                    <span class="icon_cont">
                        <i class="xi-share-alt-o"><i class="blind">링크공유</i></i>
                    </span>
                </a>
            </div>
            <i class="dim"></i>
        </div>


        <!-- 콘텐츠 -->
        <div class="container">
            <div class="sub_section_w">
                <div class="sub_article">
                    <div class="category_step_w">
                        <span class="category_text">
                            마이페이지
                            <i class="xi-angle-right-thin"></i>
                            <span class="category_now">자격증 발급 신청 조회</span>
                        </span>
                    </div>
                    <div class="license_step_w">
                        <div class="license_title">
                            <strong>한돈소믈리에</strong>
                            <span class="txt_red">자격과정</span>
                        </div>
                        <div class="license_step_inner">
                            <a href="javascript: void(0);" class="license_step_box" onclick="popupOpen_lecture(event, 1)">
                                <div class="step_box_img_w" style="background-image:url('./imgs/m/license_step01.jpg');"></div>
                                <div class="step_box_text">
                                    <strong class="sbox_title">
                                        한돈소믈리에 자격 과정
                                        <span class="txt_red"> 1회차 교육</span><br/>
                                        한돈 그것을 알려드림!
                                    </strong>
                                    <div class="sbox_date_w">
                                        <strong class="sbox_date_title">출연</strong>
                                        <span class="sbox_date_num">MC박은영, 김태경 교수</span><br/>
                                        <strong class="sbox_date_title">수강기간</strong>
                                        <span class="sbox_date_num">2021. 10. 25 (월) ~ 2021. 11. 21 (일)</span>
                                    </div>
                                </div>
                                <div class="step_box_btn">강의 보기</div>
                            </a>
                            <a href="javascript: void(0);" class="license_step_box">
                                <div class="step_box_img_w" style="background-image:url('./imgs/m/license_step02.jpg');"></div>
                                <div class="step_box_text">
                                    <strong class="sbox_title">
                                        한돈소믈리에 자격 과정
                                        <span class="txt_red"> 2회차 교육</span><br/>
                                        한돈학개론
                                    </strong>
                                    <div class="sbox_date_w">
                                        <strong class="sbox_date_title">출연</strong>
                                        <span class="sbox_date_num">MC박은영, 전형주 교수, 차원대 대표</span><br/>
                                        <strong class="sbox_date_title">시험기간</strong>
                                        <span class="sbox_date_num">2021. 10. 25 (월) ~ 2021. 11. 21 (일)</span>
                                    </div>
                                </div>
                                <div class="step_box_btn">강의 보기</div>
                                <!-- 강의준비 -->
                                <div class="open_ready_box">
                                    <div class="open_ready_text">개강 준비중</div>
                                </div>
                            </a>
                            <a href="javascript: void(0);" class="license_step_box open_ready">
                                <div class="step_box_img_w" style="background-image:url('./imgs/m/license_step02.jpg');"></div>
                                <div class="step_box_text">
                                    <strong class="sbox_title">
                                        한돈소믈리에 자격 과정
                                        <span class="txt_red"> 3회차 교육</span><br/>
                                        한돈 굽고 인싸 되기!
                                    </strong>
                                    <div class="sbox_date_w">
                                        <strong class="sbox_date_title">출연</strong>
                                        <span class="sbox_date_num">MC박은영, 송민규 대표</span><br/>
                                        <strong class="sbox_date_title">시험기간</strong>
                                        <span class="sbox_date_num">2021.11.01(월) ~ 2021.11.21(일)</span>
                                    </div>
                                </div>
                                <div class="step_box_btn">강의 보기</div>
                                <!-- 강의준비 -->
                                <div class="open_ready_box">
                                    <div class="open_ready_text">개강 준비중</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 레이어팝업 -->
            <div class="layer_popup_w">
                <div class="layer_popup_box popupType2" id="lecture-popup">
                    <div class="layer_popup_inner">
                        <div class="layer_popup_cont">
                            <div class="popup_arrow_w">
                                <button type="button" class="btn_arrow_l" onclick="prevLecturePopup()"><i class="xi-angle-left"></i> 이전강의</button>
                                <button type="button" class="btn_arrow_r" onclick="nextLecturePopup()">다음강의 <i class="xi-angle-right"></i></button>
                                <input type="hidden" id="lecture-popup-btn-index-prev">
                                <input type="hidden" id="lecture-popup-btn-index-next">
                            </div>
                            <div class="vod_title">한돈소믈리에 자격과정 <strong class="txt_red">1회차 교육</strong></div>
                            <div class="vod_player_w" id="lecture-player-box">
                                <video id="lecture-player" class="video-js vjs-big-play-centerd vjs-fluid vjs-default-skin" webkit-playsinline></video>
                                <button type="button" class="icon_vod_play">
                                    <i class="xi-play"><span class="blind">play</span></i>
                                </button>
                            </div>
                        </div>
                        <button type="button" class="popup_btn_x" title="팝업 닫기" onclick="popupClose_lecture()">
                            <i class="xi-close"></i>
                        </button>
                    </div>
                </div>

                <!-- popup 2 - 알림 -->
                <div class="layer_popup_box" id="preparing-popup">
                    <div class="layer_popup_inner">
                        <div class="layer_popup_cont">
                            <strong class="layer_popup_title">시험응시</strong>
                            <p class="player_popup_text text-1">
                                예비 한돈소믈리에 님,<br />
                                <strong>시험은 기초과정의 3강좌를<br />모두 수강 후 응시 가능합니다.</strong>
                            </p>
                            <p class="player_popup_text text-2">
                                예비 한돈소믈리에 님,<br />
                                <strong>가슴 속 고기부심을 먼저<br />한돈 프로 자격증 시험으로 증명해주세요.</strong>
                            </p>
                        </div>
                        <button type="button" class="popup_btn_x" title="팝업 닫기" onclick="popupClose()">
                            <i class="xi-close"></i>
                        </button>
                    </div>
                </div>
                <i class="dim"></i>
            </div>
        </div>
        <!-- 푸터 -->
        <div class="footer">
            <div class="footer_inner">
                <div class="footer_text_list">
                    <span class="ftl_cont">대표자(성명) : 김명준 </span><br/>
                    <span class="ftl_cont">법인명(상호) : 한돈소믈리에 운영사무국(한돈자조금) </span><br/>
                    <span class="ftl_cont">사업자 등록번호 안내 : 899-88-00918 </span><br/>
                    <span class="ftl_cont">통신판매업 신고 제2017-서울서초-0176호</span><br/>
                    <span class="ftl_cont">전화 : 02-2135-8473</span>
                    <span class="ftl_cont">팩스 : 02-2135-8471</span>
                </div>
                <div class="footer_text_list2">
                    <span class="ftl_cont">&#8251 한돈소믈리에 운영사무국은 한돈소믈리에 <br/>자격증 교육과정 운영대행 업무를 맡고 있습니다.</span>
                    <span class="ftl_cont">Copyright © mall.han-don.com. All rights reserved.</span>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="./vendor/slick-1.6.0/slick-1.6.0.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript" src="https://vjs.zencdn.net/7.10.2/video.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/@silvermine/videojs-quality-selector/dist/js/silvermine-videojs-quality-selector.min.js"></script>
    <script type="text/javascript" src="./js/common.js"></script>
    <script type="text/javascript" src="./js/lecture.js"></script>
</body>

</html>