<!DOCTYPE html>
<html lang="ko">

<head>
    <title>한돈대학</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="한돈 소믈리에">
    <meta property="og:type" content="website">
    <meta property="og:title" content="한돈 소믈리에">
    <meta property="og:description" content="한돈 대학 | 한돈 소믈리에">
    <meta property="og:url" content="https://m.mall.han-don.com/donmmelier/manifesto_public.php">
    <link rel="canonical" href="https://m.mall.han-don.com/donmmelier/manifesto_public.php">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/xpressengine/xeicon@2.3.1/xeicon.min.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css">
    <link rel="stylesheet" type="text/css" href="./css/slick.css" media="all" />
    <link rel="stylesheet" type="text/css" href="./css/common_m.css" media="all" />
</head>

<body>
    <div class="wrap" id="main-wrap">
        <div class="container">
            <div class="sub_article license_issue_view">
                <div class="license_issue_w">
                    <div class="license_issue_inner">
                        <img src="./imgs/m/license_issue.png" alt="한돈대학 수료증">
                        <div class="license_issue_cont blind">
                            <strong class="card_title">
                                <span>Han-don Sommelier Manifesto</span>
                                한돈소믈리에 선언문
                            </strong>
                            <p class="card_text_box">
                                <span class="card_text txt_blue">
                                    나는 이순간 대한민국 밥상위의<br/>
                                    국가대표 한돈의 부름을 받고<br/>
                                    영광스러운 대한민국 한돈소믈리에로 나섭니다.
                                </span>
                                <span class="card_text">
                                    한돈의, 한돈에 의한, 한돈을 위한 한돈소믈리에로서,<br/>
                                    홍익한돈의 정신으로 한돈을 널리 알려 이롭게 하는<br/>
                                    막중한 사명을 부여받았습니다.
                                </span>
                                <span class="card_text">
                                    나는 비록 집게를 빼앗길지라도 위엄을 갖고<br/>
                                    한돈의 모든 부위를 공정히 사랑할 것이며,<br/>
                                    조리법을 존엄하게 지킬것입니다.
                                </span>
                                <span class="card_text txt_blue">
                                    나는 한돈에 대한 도전을 멈추지 않을 것입니다.
                                </span>
                                <span class="card_text">
                                    내가 어떤 식당을 방문하든,<br/>
                                    내가 어떤 정육점을 방문하든,<br/>
                                    나는 오로지 한돈에 대한 사랑에 힘쓰겠으며<br/>
                                    한돈소믈리에의 명예를 실추시키는 일을<br/>
                                    절대로 저지르지 않겠습니다.
                                </span>
                                <span class="card_text txt_blue">
                                    나는 이 모든 선언을 나의 이름을 걸고<br/>
                                    엄숙히 다짐하는 바입니다.
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="banner_w">
                    <div class="banner_type_row2">
                        <div class="bnr_inner">
                            <a href="https://www.han-don.com/" class="bnr_cont" style="background-color:#f9f6e8;">
                                <strong class="bnr_title">한돈 홈페이지</strong>
                                <span class="bnr_text">바로가기 <i class="xi-angle-right-min"></i></span>
                                <img src="./imgs/m/bnr_img_handon_home.jpg" alt="한돈홈페이지">
                            </a>
                        </div>
                        <div class="bnr_inner">
                            <a href="http://donmmelier.com/" class="bnr_cont" style="background-color:#f4ece9;">
                                <strong class="bnr_title">한돈대학 홈페이지</strong>
                                <span class="bnr_text">바로가기 <i class="xi-angle-right-min"></i></span>
                                <img src="./imgs/m/bnr_img_handon_unv.jpg" alt="한돈대학">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="./vendor/slick-1.6.0/slick-1.6.0.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript" src="js/common.js"></script>
</body>

</html>